@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
  scroll-behavior:smooth ;
}

hr {
  border: 0;
  height: 2px;
  width: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 1em;
}

.all {
  background-image: url(/images/web\ b.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -5px;
  height: 100vh;
}

body {
  height: 100%;
  background-color: rgb(40, 41, 52);
  overflow: scroll;
}

/* scroll to top button */
#myBtn {
  display: none; 
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(194, 173, 173);
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 40px; 
  transform: translate(ease-in-out);
}
#myBtn:hover {
  color: rgb(194, 25, 25);
}
/* scroll to top end */

/* Header styling  */
.line{
  border-left:2px solid #d8d9df;
}
.header {
  overflow: hidden;
  background-color: transparent;
  padding: 20px 10px;
}

.header-right{
  margin-left: 29%;
}

.header a {
  float: left;
  color: #f0f8ff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 150%; 
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: transparent;
  color: #03e9f4;
  transition: 0.5s ease-in-out;
}

.header a.active {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.logo {
  height: 60%;
  width: auto;
}
.links {
  padding: 8% 50% 0 10%;
  display: flex;
  gap: 30%;
  float: none;
}
.links a {
  text-decoration: none;
  color: rgb(249, 244, 255);
  font-size: 150%;
  height: 30px;
  border: 100% solid black;
  cursor: pointer;
  /* font-family: "RalewayRegular"; */
  transform: none;
  transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  /* outline: rgb(255, 0, 0) dashed 1px; */
  box-sizing: border-box;
}
.links a:hover {
  color: aqua;
}
/* Header styling end */

/* Social icons styling */
.social-icons {
  padding: 3%;
  display: flex;
  flex-direction: row;
  /* margin-top: -35%; */
}
.fa {
  padding: 20px;
  font-size: 30px;
  /* width: 30px; */
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  /* border: 3px solid white; */
  background: transparent;
  color: rgb(238, 198, 198);
}
.fa:hover {
  color: rgba(201, 140, 83, 0.527);
}
/* Social icons styling end */

/* Main styling */
.main{
  padding: 6%;
}
.tags{
  /* padding-top: 5%; */
  font-size: 5em;
  font-weight: 70;
}
.tags span{
  margin-top: 3%;
  font-size: 2rem;
}
.main-button {
  text-align: center;
  margin-top: 1%;
  /* margin: 26.5% 0 31% 0; */
}
button.butt {
  background-color:  #03e9f4;
  border: none;
  
}
.butt a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #313341;
  font-size: 150%;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  /* margin-top: 40px; */
  letter-spacing: 4px;
  background-color: transparent;
  border: none;
  background: transparent;
}
.butt a:hover {
  background-color: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4 0 0 5px #03e9f4 0 0 5px #03e9f4 0 0 5px #03e9f4;
}
/* Main styling end */

/* Skills styling */
#my-skills {
  padding-top: 5%;
  background-color: #313341;
  box-shadow: rgba(246, 246, 248, 0.2) 0px 7px 29px 0px;
}
.skills div {
  display: flex;
  flex-direction: column;
}
.skill-header {
  /* padding-left: 5%; */
  text-align: center;
  color: #f0f8ff;
}
#my-skills div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.skills div:hover {
  filter: drop-shadow(8px 8px 4px rgb(110, 164, 194));
}
.imgs{
  width: 100%;
  height: auto;
}
.skills h3:hover {
  color: aqua;
}
.skills h3 {
  color: aqua;
}
/* Skills styling end */

/* About styling */
#about {
  background-color: #313341;
  padding-top: 5%;
  box-shadow: rgba(246, 246, 248, 0.2) 0px 7px 29px 0px;
  margin-top: 5%;
}
.about-header {
  /* padding-left: 5%; */
  text-align: center;
  color: #f0f8ff;
}
.about-para {
  font-size: 180%;
  padding-left: 5%;
  color: #fff;
}
/* About styling end */

/* Projects styling */
.project-header {
  /* padding-left: 5%; */
  text-align: center;
  color: #f0f8ff;
}
.project-box{
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
  transition: 0.5s ease-in-out;
  border-radius: 1%;
}
.project-box h3{
  color: #ffffff;
}
.project-box:hover{
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}
.project-box h3:hover{
  color: #505261;
}
.prj-pics {
  width: 60%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#projects div {
  display: flex;
  justify-content: space-around;
}
#projects {
  background-color: #313341;
  padding-top: 5%;
  box-shadow: rgba(246, 246, 248, 0.2) 0px 7px 29px 0px;
  margin-top: 5%;
}
/* Projects styling end */

/* Experience styling */
#experience {
  padding: 5%;
  margin-top: 5%;
  background-color: #313341;
  box-shadow: rgba(246, 246, 248, 0.2) 0px 7px 29px 0px;
}
.experience-header {
  /* padding-left: 5% */
  padding-top: 10px;
  text-align: center;
  color: #f0f8ff;
}
/* Experience styling end */

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(82, 17, 17);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3e4b;
  border-radius: 10px;
}
/* scroll bar end */

.cancelbtn {
  position: relative;
  /* display: inline-block; */
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 100%;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 14%;
  margin-bottom: 20%;
  letter-spacing: 4px;
  background-color: transparent;
  border: none;
  float: right;
}
.cancelbtn:hover {
  background-color: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4 0 0 5px #03e9f4 0 0 5px #03e9f4 0 0 5px #03e9f4;
}


/* Center the loader */
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#myDiv {
  /* display: none; */
  text-align: center;
}


footer{
  /* padding: -19%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #313341;
  box-shadow: rgba(246, 246, 248, 0.2) 0px 7px 29px 0px;
}
footer .copy{
  margin-top: 3%;
}
.copy p{
  color: #f0f6ff;
  font-size: 1rem;
}